.letter {
  width: 440px;
  height: 700px;
  margin-top: 40px;
  margin-left: 30px;

  background-image: url(letter01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.letter_send {
  width: 70px;
  margin-top: 10px;
  font-size: 33px;
  border-radius: 7px;
  border: rgb(247, 232, 191) solid 2.5px;
  background-color: white;

  float: right;
  cursor: pointer;
  font-family: "Uiyeun";
}

.letter_sendline {
  width: 450px;
  margin-bottom: 100px;
}

.textArea_style {
  display: block;
  margin: 0 auto;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;

  padding-top: 43px;
  width: 330px;
  height: 600px;
  background-color: transparent;
  font-size: 28px;
  font-family: "Uiyeun";
  line-height: 42px;
}
