.textArea {
  margin-bottom : 35px;
  resize: none;

  border: gray solid;
  background-color: rgb(255, 249, 242);
  font-size: 17px;
}

.letter_send {
  width: 70px;
  font-size: 20px;
  border-radius: 7px;
  background-color: white;

  float: right;
  cursor: pointer;
}

.letter_sendline {
    width : 450px;
    margin-bottom : 100px;
}


/* 모달창 테스트 */
#modal.modal-overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px); /*이건 왜 있지..*/


  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
background: white;
box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
backdrop-filter: blur( 13.5px );
-webkit-backdrop-filter: blur( 13.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 400px;
height: 250px;
position: relative;
top: -100px;
padding: 10px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: black;
  
}
#modal .title {
  display: inline;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: black;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}