.App {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
  
    width: 500px;
    height: 882px;
    background-color: beige;
  }

  /* 폰트 적용 */
  @font-face {
    font-family: 'Uiyeun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  #ownglyph{
    font-family: 'Uiyeun';
  }

  